@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    body {
        background: #223547 !important;
    }

    .img-responsive {
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        color: white;
        font-family: 'Helvetica';
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .btn {
        width: 25%;
        background-color: #15659D;
        border: none;
        color: white;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="text-center">
    <img src="~/Content/Images/Frame.png" class="img-responsive" />
    <p class="text">Try matching the WillowTree employee to their photo.</p>
    <button type="button" id="btnPlay" class="btn">Play!</button>
</div>